:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

#abc {
  margin-top: 56px;
  text-align: center;
  padding: 40px;
  background: linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ), url(../img/job.jpg) no-repeat;
  background-size: cover;
}

#dropdown_user img {
  width: 50px;
  height: 50px;
}

#btn_reg, #btn_login {
  height: 2.5rem;
  padding-top: .7rem;
}

#dropdown_reg .dropdown-menu {
  background-color: transparent;
  border: none;
}

select {
  font-family: inherit;
}

.jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.row ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  #abc {
    margin-top: 68px;
  }
  .jumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

#signin .custom-select {
  width: 50%;
}

#loginRole {
  margin-left: 24%;
}

.form-inline {
  justify-content: center !important;
}

.form-inline .custom-select2 {
  padding: .375rem 1.75rem .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
  border: 1px solid #ced4da;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-inline button {
  background: transparent;
  border: none;
}

.view img {
  display: initial;
}

.companies {
  padding-top: 60px;
  padding-bottom: 60px;
}

.companies h3 {
  font-weight: 300;
}

.p5 {
  padding-right: 5px;
  padding-left: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.company{
  border: 1px #e5e5e5 solid;
  display: block;
  padding: 15px 0;
}

.company:hover{
  text-decoration: none;
}

.company p {
  margin-top: revert;
}

.network-slogan{
  color: black;
}

.network-slogan:hover{
  color: red;
}

.list-job .card {
  margin-bottom: 10px;
}

.list-job .card:hover {
  background: rgb(2,0,36);
  background: linear-gradient(83deg,#f8cfcd 0,#fad6cf 20%,#fcdcd1 43%,#fde0d2 63%,#fee3d3 80%,#fee5d3 100%);
}

.list-job .card .card-body .logo-box {
  position: relative;
  float: left;
  width: 25%;
  height: 82px;
  border: 1px solid #e1e1e1;
  box-shadow: 0 4px 6px 0 hsla(0,0%,0%,.2);
}

.list-job .card .card-body .logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 7px;
}

.job-content {
  padding-left: 11px;
  display: inline-block;
}

.job-content strong {
  color: #333;
}

.job-content em {
  color: gray;
}

.job-list {
  overflow: auto;
  height: 500px !important;
}

.job-items {
  overflow: hidden;
  margin: 5px 30px;
  padding: 0;
}

.job-items li {
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  width: 50%;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
}

.job-title {
  float: left;
  display: block;
}

.job-title strong {
  color: #333;
  display: block;
}

.job-title em {
  display: block;
  color: gray;
}

.modal-dialog .modal-content {
  border-radius: 1rem;
}

.modal-dialog .modal-content .modal-body {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: initial;
}

.form-sigin {
  width: 100%;
}

.card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-sigin select {
  border-radius: 2rem;
}

.form-signup_ntd select {
  border-radius: 2rem;
  height: 3.2rem;
}

#wrong_credentials {
  text-align: center;
  margin-top: 15px;
  color: red;
}

label {
  font-size: 16px;
  color: #555;
  display: block;
}

.footer-basic {
  padding: 40px 0;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  color: #aaa;
  margin-bottom: 0;
}

.footer-basic ul {
  text-align: center;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  opacity: 0.8;
}

.mt85 {
  margin-top: 85px;
}

.card-user .card-body {
  padding: 0;
}

.tab-content {
  padding-top: 0;
}

#list-profile form {
  padding-top: 1.5rem;
}

#list-applied-jobs .card, #list-saved-jobs .card {
  width: 100%;
}
